.authContainer {
    margin: 0 auto;
    width: 390px;
    text-align: center;
    padding: 0 20px;
}

h2 {
    font-size: 18px;
    padding: 18px 0 14px;
}

form {
    text-align: left;
}

form label {
    color: #a9acbb;
    font-size: 12px;
}

.authInput {
    padding: 10px;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    background-color: #fcfcfc;
    margin: 10px 0 16px;
    color: #21212c;
}

form button {
    cursor: pointer;
    border-radius: 12px;
    padding: 10px 0px;
    height: 48px;
    width: 100%;
    background: white;
    color: #21212c;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authBtn img {
    width: 20px;
    margin-right: 8px;
}

.authSubmit {
    background: #454ce7;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.authError {
    color: tomato;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
}

.authSwitch {
    color: #454ce7;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}
