.floating {
    position: fixed;
    left: calc(50% - 102.5px);
    bottom: 110px;
    filter: drop-shadow(2px 6px 8px rgba(33, 33, 44, 0.25));
    transition: all 0.05s;
    z-index: 7;
}

.fltDis {
    bottom: -50px;
}

.floating li {
    display: inline-block;
    margin-right: 8px;
    overflow: hidden;
}

.togg {
    width: 46px;
}

.plus {
    margin-left: 3px;
    width: 46px;
}

/* 핀모드 활성화 모드 */

@-webkit-keyframes spin {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes spin {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pinon {
    width: 97px;
    height: 49px;
    border-radius: 50px;
    background: linear-gradient(-45deg, #787ef9, #4cdcc2, #787ef9, #4cdcc2);
    background-size: 300% 300%;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s infinite;
}

.pinoff {
    background: #454ce7;
    -webkit-animation: none;
    animation: none;
}

.pinon img {
    width: 91px;
    height: 43px;
    margin: 3px;
}
