/* 우측 스크롤바 시도 */

::-webkit-scrollbar {
    display: none;
}

.App::-webkit-scrollbar {
    width: 8px;
    display: block;
}
.App::-webkit-scrollbar-track {
    background: rgba(33, 33, 44, 0.1);
    border-radius: 100px;
}
.App::-webkit-scrollbar-thumb {
    background-color: rgba(33, 33, 44, 0.7);
    border-radius: 100px;
}

.allconten {
    position: relative;
}

.toons {
    width: 390px;
}

/* 웹툰 이미지  */
.toonimg {
    width: 390px;
    font-size: 0;
    position: absolute;
    /* z-index: -1; */
    background-color: #fff;
}

.grid {
    z-index: 0;
    position: absolute;
    top: 0;
    width: 390px;
    background-image: url("../img/grid.png");
    background-repeat: repeat-y;
}

.tooltip {
    z-index: 600;
    position: fixed;
    top: 83px;
    left: calc(50% - 132px);
    color: #fcfcfc;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    background: rgba(33, 33, 44, 0.6);
    backdrop-filter: blur(3.5px);
    transition: all 0.2s ease-in-out;
}

.pincoms_gridbox {
    z-index: 0;
    width: 390px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 97.5px;
}

/* 상단 바 */

.topNav {
    display: inline-block;
    z-index: 500;
    position: fixed;
    top: 0;
    background: rgba(33, 33, 44, 0.9);
    width: 390px;
    height: 55px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: all 0.05s ease-in-out;
}

.disappear {
    opacity: 0 !important;
}

.tnvDis {
    top: -55px;
}

.topNav ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.topNav img {
    margin-top: 16px;
    width: 24px;
}
.topNav li {
    display: inline-block;
    margin-right: 16px;
    line-height: 55px;
    font-weight: 600;
    font-size: 18px;
    z-index: 10;
}

.topNav div {
    float: right;
    width: 24px;
    margin-right: 20px;
}

/* 바텀 네비 */
.bottomNavi {
    position: fixed;
    bottom: 0;
    width: 390px;
    height: 84px;
    background: rgba(33, 33, 44, 0.9);
    text-align: center;
    transition: all 0.05s ease-in-out;
    z-index: 5;
}
.bottomNavi li {
    display: inline-block;
    width: 78px;
    height: 60px;
}

.bottomNavi img {
    width: 24px;
    margin: 16px 27px;
}
.bnDis {
    bottom: -84px;
}

/* 하단 */

.btm {
    background-color: #21212c;
    padding-bottom: 100px;
    z-index: -10;
    margin: 90px 0 10px 0;
}

.gotoTop {
    text-align: center;
    margin: 0 20px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.04);
}

.btpin {
    margin: 55px auto 14px auto;
    display: inline-block;
    width: 80px;
}

.gotoTop h6 {
    font-weight: 500;
    font-size: 14px;
    color: #a9acbb;
    margin: 0 auto 4px auto;
}
.gotoTop h5 {
    font-weight: 700;
    font-size: 18px;
    color: #fcfcfc;
    margin: 0 auto 40px auto;
}

.writersays {
    margin: 24px 20px 40px;
    background: #303545;
    border-radius: 8px;
    font-size: 14px;
}

.writersays .prof {
    margin: 16px 16px 0;
}
.writersays .prof .nam {
    color: #fcfcfc !important;
    opacity: 1;
    font-weight: 600;
}
.writersays .num {
    font-weight: 500;
    font-size: 12px;
    color: rgba(252, 252, 252, 0.4);
    margin-left: 6px;
}

.writersays .com {
    margin: 12px 16px 16px;
    font-size: 14px;
    width: unset;
}

.coms2 .comtt {
    padding: 0;
    margin: 0 0 0 20px;
}
.goAllc {
    width: 20px;
}
.comtt li {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    vertical-align: center;
}

.coms2 .com {
    margin-top: 12px;
}

/* 애드할때 핀 */
.thumpincom_box {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 390px;
    display: grid;
    grid-template-columns: repeat(4, 97.5px);
    grid-auto-rows: 97.5px;
}
