/* 우측 스크롤바 시도 */

::-webkit-scrollbar {
  display: none;
}

.App::-webkit-scrollbar {
  width: 8px;
  display: block;
}
.App::-webkit-scrollbar-track {
  background: rgba(33, 33, 44, 0.1);
  border-radius: 100px;
}
.App::-webkit-scrollbar-thumb {
  background-color: rgba(33, 33, 44, 0.7);
  border-radius: 100px;
}

/* 웹툰 이미지  */

.toonimg{
  width: 100%;
  font-size: 0;
  position: absolute;
  z-index: -2;
  background-color:#fff;
}

.grid {
  z-index: 0;
  position:absolute;
  top: 0;
  width: 100%;
  background-image: url('./grid.png');
  background-repeat: repeat-y;
  background-size: 100vw;
}

.tooltip{
  z-index: 600;
  position: fixed;
  top: 83px;
  left: calc(50% - 132px);
  color: #fcfcfc;
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  background: rgba(33, 33, 44, 0.6);
  backdrop-filter: blur(3.5px);
  transition: all 0.2s ease-in-out;
}

.pincoms_gridbox {
  z-index: -1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25vw;
}


/* 상단 바 */

.topNav {
  display: inline-block;
  z-index: 500;
  position: fixed;
  top: 0;
  background: rgba(33, 33, 44, 0.9);
  width: 100%;
  height: 55px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.05s ease-in-out;
}

.disappear{
  opacity: 0 !important;
}

.tnvDis{
  top: -55px;

}

.topNav ul{
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
.topNav img {
  margin-top: 16px;
  width: 24px;
}
.topNav li {
  display: inline-block;
  margin-right: 16px;
  line-height: 55px;
  font-weight: 600;
  font-size: 18px;
  z-index: 10;
}

.topNav div {
  float: right;
  width: 24px;
  margin-right: 20px;
}

/* 바텀 네비 */
.bottomNavi {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 84px;
  background: rgba(33, 33, 44, 0.9);
  text-align: center;
  transition: all 0.05s ease-in-out;
  z-index: 500;
}
.bottomNavi li{
  display: inline-block;
  width: 78px;
  height: 60px;
}

.bottomNavi img {
  width: 24px;
  margin: 16px 27px;
}
.bnDis {
  bottom: -84px;
}

/* 하단 플로팅 버튼들 */

.floating {
  position: fixed;
  left: calc(50% - 102.5px);
  bottom: 110px;
  filter: drop-shadow( 2px 6px 8px rgba(33, 33, 44, 0.25));
  transition: all 0.05s;
  z-index: 500;
}

.fltDis {
  bottom: -50px;
}

.floating li {
  display: inline-block;
  margin-right: 8px;
  overflow: hidden;
}

.togg{
  width: 46px;
}

.plus{
  margin-left: 3px;
  width: 46px;
}

/* 핀모드 활성화 모드 */

@-webkit-keyframes spin {
  0% {background-position:0% 50%}
  50%{background-position:100% 50%}
  100% {background-position:0% 50%}
}

@keyframes spin {
  0% {background-position:0% 50%}
  50%{background-position:100% 50%}
  100% {background-position:0% 50%}
}

.pinon{
  width: 97px;
  height: 49px;
  border-radius: 50px;
  background: linear-gradient(-45deg, #787EF9, #4CDCC2,#787EF9, #4CDCC2);
  background-size: 300% 300%;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s infinite;
}

.pinoff{
  background:#454CE7;
  -webkit-animation:none;
  animation: none;
}

.pinon img {
  width: 91px;
  height: 43px;
  margin: 3px;
}

/* 하단 */

.btm{
  background-color: #21212C;
  padding-bottom: 100px;
  z-index: -10;
  margin: 90px 0 10px 0;
}

.gotoTop{
  text-align: center;
  margin: 0 20px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.04);;
}

.btpin {
  margin: 55px auto 14px auto;
  display: inline-block;
  width: 80px;
}

.gotoTop h6 {
  font-weight: 500;
  font-size: 14px;
  color: #A9ACBB;
  margin: 0 auto 4px auto;
}
.gotoTop h5 {
  font-weight: 700;
  font-size: 18px; 
  color: #FCFCFC;
  margin: 0 auto 40px auto;
}

.writersays {
  margin:24px 20px 40px;
  background: #303545;
  border-radius: 8px;
  font-size: 14px;
}

.writersays .prof {
  margin: 16px 16px 0;
}
.writersays .prof .nam{
  color: #FCFCFC !important;
  opacity: 1;
  font-weight: 600;
}
.writersays .num{
  font-weight: 500;
  font-size: 12px;
  color: rgba(252, 252, 252, 0.4);
  margin-left: 6px;
}

.writersays .com {
  margin: 12px 16px 16px;
  font-size: 14px;
  width: unset;
}

.coms2 .comtt{
  padding: 0;
  margin: 0 0 0 20px;
}
.goAllc  {
  width: 20px;
}
.comtt li{
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  vertical-align: center;
}

.coms2 .com{
  margin-top: 12px;
}

/* 애드할때 핀 */
.thumpincom_box{
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25vw;
}